

.navbar {
    background-color: transparent;
    padding-top: 0rem;
    padding-bottom: 0rem;
    color: #0d0d0d;
}

.navbar a {
    font-family: Nexa, sans-serif;
}

#navbarNav {
    transition: all 0.5s ease-out;
}



.navbar-light .navbar-nav .nav-link.active {
    background-color: #f2f2f2;
    color: #0d0d0d;
}

.nav-link {
    padding: .75rem 1rem;
}


.navbar-toggler {
    margin: .45rem;
}

@media screen and (max-width: 991px ) {
    .navbar-nav .nav-link {
        padding-left: 20px;
    }
    #mainNav {
        background-color: aquamarine;
    }
    #navbarNav .container-fluid {
    background: #2ABABF;
    }
}

body {
    background-color: #f2f2f2;
    color: #0d0d0d;
    font-family: 'Barlow', sans-serif;
    
}

img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
    border-radius: 6px;
}


.container {
    padding-left: 100px;
    padding-right: 60px;
}

hr {
    background: #2ABABF;
    height: 3px;
}

h1, h2, h3, h4 {
    font-family: 'Calistoga', cursive;
}

.lead-container {
    padding: 180px 10% 80px;
    height: 551px;
    background-color: #2ABABF;
}

.photo-bg {
    background: url('../../images/profile.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    height: 551px;
}

.btn {
    background-color: #BF8821;
    color: #EEE;
    border: 1px solid black;
}

.btn:hover{
    -webkit-transform: scale(1.1);
    background: #2ABABF;
}

